.projects {
  background-color: #f6f6f8;
  // .projects__container
  &__container {
    padding-top: 90px;
    padding-bottom: 100px;
    text-align: center;
    @media (max-width: $md3+px) {
      padding-top: 45px;
      padding-bottom: 50px;
    }
  }
  // .projects__header
  &__header {
    max-width: 720px;
    margin: 0 auto;
  }
  // .projects__title
  &__title {
    margin-top: 0;
  }
  // .projects__gallery
  &__gallery {
    margin-top: 60px;
    margin-bottom: 40px;
    @media (max-width: $md3+px) {
      margin-top: 30px;
      margin-bottom: 25px;
    }
  }
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // .gallery__img
  &__img {
    padding: 10px;
    max-width: 255px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    img {
      width: 100%;
    }
    @media (max-width: $md3+px) {
      max-width: 50%;
      box-sizing: border-box;
    }
    @media (max-width: $md4+px) {
      padding: 4px;
    }
  }
}
