//<Обнуление стилей>=======================================
@import "normalize";
//<Обнуление стилей>=======================================



//<Переменные>=============================================
$font: "Montserrat";
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1100;
$md1: $maxWidthContainer + 12;
$md2: 990;
$md3: 770;
$md4: 480;
//<Переменные>=============================================



//<Оболочка>===============================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
//<Оболочка>===============================================



//<Основная сетка>=========================================
.container {
  max-width: $maxWidthContainer+px;
  margin: 0 auto;
  @media (max-width: $md1+px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

//  @media (max-width: $md3+px)

//<Основная сетка>=========================================



//<Стили>==================================================
body {font-family: $font;}

@import "bloks";
@import "header";
@import "first-screen";
@import "services";
@import "about-us";
@import "all-services";
@import "projects";
@import "video";
@import "subcribe";
@import "footer";
//<Стили>==================================================